
!!!
%html
  %head
    %title
      An Empty Application
    %meta{:name => 'description', :content => 'An empty application'}
    = stylesheet_link_tag :application   
    = javascript_include_tag :application
    = yield(:head)    
    = csrf_meta_tag 
    
%body{:style => 'padding-top:5px'}
  .container{:style => 'padding-top: 10px'}
    .row-fluid
      .span12.border
        = render :partial => 'shared/user'
    .row-fluid
      .span12        
        = render :partial => 'shared/flashes'
    .row-fluid
      .span12        
        = yield 
